body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    background-color: #F5F5F5;
    font-size: 16px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header {
    z-index: 2;
    position:fixed;
    width: 100%;
    height: 65px;
    background-color: #243B93;
}

section {
    width: 50%;
    margin: 0 auto;
}

.ListMenu {
    margin: 0;
    padding-top: 2.5%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.Menu_link {
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.logo {
    position: absolute;
    top: 6px;
    left: 8%;
}

.lang {
    position: absolute;
    display: flex;
    left: 85%;
    top: 0.8%;
    right: 6%;
}

.header2 {
    font-size: 2.8em;
    color: #202846;
    width: 100%;
    height: 70px;
    background-color: #BFF0FF;
    padding-left: 8%;
    font-style: italic;
    margin: 0%;
    padding-top: 4rem;
}

.search {
    width: 83%;
    height: 57px;
    background-color: #FFFFFF;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    padding-top: 1%;
    font-size: 1.8em;
    color: rgba(0, 0, 0, 0.61);
    display: flex;
    justify-content:center;
}

.search_arrow {
position: absolute;
right: 10rem;
padding-top: 11px;
}

.card {
    width: 100%;
    height: 250px;
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    display: flex;
    margin-bottom: 2.625rem;
    justify-content: space-around;
    position: relative;
    box-sizing: border-box;
}

div.card:hover {
    box-shadow: -10px 10px 20px #2CBDEB;
}

div.card:hover>button {
    background-color: #EF075B;
}

div.card:hover path {
    fill: #FFF500;
}

.wrapper {
    width: 83%;
    margin: 2% auto;
    border: 0px solid black;
}

.photo {
    width: 35%;
    height: 90%;
    padding-top: 1rem;
}

.photo>img {
    max-height: 100%;
    max-width: 100%;
}

.content {
    width: 60%;
    font-size: 1.4em;
    color: #202846;
}

.card_header {
    margin: 0;
    width: 90%;
    font-weight: 700;
    font-style: italic;
    color: #353C57;
    font-size: 2.0em;
    border-bottom: 0.1em solid #FFFFFF;
}

.card_text {
    background-color: #EDFBFF;
    font-size: 1.1rem;
    width: 90%;
    height: 55%;
    margin-bottom: 0;
    margin-top: 0.2rem;
    overflow: auto;

}

.card_button {
    width: 8em;
    height: 1.6em;
    background-color: #243B93;
    border-radius: 30rem;
    position: absolute;
    z-index: 1;
    right: -2rem;
    top: 12rem;
    border: 0;
    font-size: 1.5em;
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

svg {
    position: absolute;
    right: 1rem;
}
.button_top{
   position: fixed;
   bottom: 20px;
   right: 20px;
   z-index: 3;

}
.button_top img{
    width: 81px;
    height: 81px;
    color: rgba(48, 12, 106, 0.5);
}
.footer{
    width: 100%;
    height: 70px;
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    font-size: 2.7em;
    font-style: italic;
    padding-left: 6.2rem;
    margin-bottom: 1.2em;
    color: #243B93;
}
.account{
    width: 83%;
    height: 498px;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    margin: 0 auto;
    display: flex;
    justify-content:space-evenly;
    overflow: auto;
}
.personal_info{
    font-weight: 700;
    font-style: italic;
    font-size: 1.8em;
    width: 55%;
    color:#353C57;
    margin-right: 35px;
}
.avatar button{
    width: 10em;
    height: 2em;
    font-size: 1.5em;
    border-radius: 1.9em;
    background-color: #243B93;
    border: 0;
    color: #FFFFFF;
}
.avatar button:hover{
    background-color: #EF075B;
}
.avatar{
    padding-top: 26px;
    width: 30%;
}
.personal_info p{
    border-bottom: 2px solid white;
}
p a{
    color:#353C57;
}
.Exit{
border:0;
background-color: #243B93;
width: 11em;
height: 50px;
border-radius: 30px;
position:absolute;
left: 45%;
top:129rem;
font-size: 1.5em;
color: white;
}
.footer_contacts{
    width: 100%;
    height: 70px;
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    font-size: 2.7em;
    font-style: italic;
    padding-left: 6.2rem;
    position: absolute;
    top: 135rem;
}

.footer_wraper{
    width: 83%;
    top: 145rem;
    position: absolute;
    display: flex;
    justify-content:space-between;
    left: 6rem;
    
}
.map{
width: 25em;
height: 290px;
border-radius: 40px;
border:3px solid #243B93;
}
iframe{
    width: 25em;
    height: 290px;
    border-radius: 40px;
}
.footer_ul{
    margin: 0.4em;
    font-size: 1.3em;
    padding-left: 0;

}
.footer_li{
    border-top: 2px solid #202846;
    list-style: none;
    font-size: 1.3em;
}
.end_border{
    width: 100%;
    height: 65px;
    position: relative;
    background-color: #243B93;
    top: 40rem;
    font-weight: 700;
    color: white;
}
.end_border p{
margin-left: 100px;
padding-top: 15px;
}