body{
    font-family: 'Space Grotesk';
    font-weight: 700;
    background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
}
.wrapper{
    display: flex;
    width: 80%;
    margin: 6.8rem auto;
    height: 41rem;
}
.header{
    text-align: left;
    margin-left: 1rem;
    font-size: 1.5rem;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}
.header_rightSection{
    display: flex;
    justify-content:end;
}
.header_rightSection div{
padding: 0 0.7rem;
font-size: 1rem;
color: white;
cursor: pointer;

}
.left_section{
    width:50%;
    background-color: white;
}
.right_section{
    margin: 0 auto;
    width: 50%;
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0px 0px 10px 9px #4E7577;
}
.content{
    font-size: 3rem;
    color: white;
    width: 19.87rem;
    margin: 35% auto 0;
    box-sizing: border-box;

}
.content_Albert{
font-size: 1rem;
color: white;
width: 19.87rem;
margin: 0 auto;
}
.main_header{
    text-align: center;
    margin-top: 6rem;
    font-size: 1.25rem;
}
.frames{
    width: 70%;
    margin: 0 auto;

}
label{
    font-weight: 400;
    font-size: 1rem;
    color: #000000;
    
}
input{
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;

}
.password{
    font-size: 0.625rem;
    font-weight: 400;
    color: #A8A8A8;

}
select{
    width: 20rem;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    color: #000000;
    font-weight: 400;
    font-size: 0.75rem;
}
input[type="submit"]{
    background: #27485D;
    border: 1px solid #284A5E;
    border-radius: 4px;
    height: 2.125rem;
    font-size: 1rem;
    color: white;
    font-weight: 700;
    margin-top: 3rem;
}
.footer{
    font-size: 1rem;
    font-weight: 700;
    color: #C4C4C4;
    text-align: center;
}
a{
    color: #476D73;
}