body{
    margin: 0;
    max-width: 1400px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.header{
    background:url(../image/фон.png);
    background-repeat: no-repeat;
    width: 100%;
    padding: 144px 266px 350px 265px;
} 
.background{
    width: 900px;
    height: 195px;
}
.main_text{
    color: #000000;
    font-family:'Inter', sans-serif;
}
.main{
    padding-left: 112px;
}
.main_cards{
    width: 379px;
    height: 460px;
    background-color: #231B0C;
    display: inline-block;
    margin: 0px 8px 0px;
}
.main_imgHeader{
width: 173px;
height: 60px;
margin:19px 113px 0px 114px;
}
.main_photo{
    width: 300px;
    height: 210px;
    padding: 87px 50px 66px 50px;
}
.PictureVenice{
width: 1185px;
height: 595px;
margin: 42px 125px 40px 112px;
}
.footer{
    width: 1500px;
    height: 279px;
    background-color: #150F02;
    background-repeat: no-repeat;
}
.row1_menu{
padding-right: 370px;
}
.row2_menu{
    padding-left: 395px;
}
.footer_row1{
    display: inline-block;
    margin: 35px 470px 0px 400px;
}
.footer_row2{
    display: inline-block;
    margin: 27px 395px 0px 400px;
}
.contacts{
    color: #FFFFFF;
    text-align: center;
    font-weight: 600px;
    border-bottom: 9px solid #FF6B00;
    width: 20%;
    margin: 0 auto;
}
.contacts_socMedia{
    width: 170px;
    height: auto;
    margin: 12px auto;
}
.logo{
    width: 30px;
    height: 26px;
    margin-left: 20px;
}
