body{
    margin: 0;
    max-width: 1440px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.header{
    text-align:center;
    text-transform:uppercase;
    font-size: 48px;
}
.header-blue{
    color:#3E45E8;
    }
.header-yellow{
        color:#E8C23E;
    }
.div2{
    display: inline-block;   
}
.div2_1{
    width: 23px;  
    height: 209px;
    padding-right: 5px;
}
.p1{
    height: 304px;
    font-size: 48px;
    font-weight: 700;
    color: white;
    text-align: left;  
}
.div1{
    background: url(../image/фонове\ зображення.png);
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    padding-left: 80px;
    padding-top: 200px;
}
.div3{
height: 200px;
width: 1000px;
display: inline-block;
}
.h1{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;}
.div4{
    padding-bottom: 42px;
    }
.div5 > div{
    width: 280px;
    height: 380px;
    border: 6px solid #0d095f;
    border-radius: 9%;
    display:inline-block;
    margin: 28px;
    text-align: left;
}
.card1{
    box-shadow: -5px 5px 25px #5ceef5;
    vertical-align: top;
}
.card2{
    box-shadow: 0px 5px 25px #5ceef5;
}
.card3{
    box-shadow: 5px -5px 25px #5ceef5;
}
.imgTustan{
    width: 281px;
    height: 218px;

}
.imgLutskCastle{
    width: 281px;
    height: 218px;
}
.imgKamyanaMohyla{
    width: 281px;
    height: 218px;
}
.header1{
    font-size: 24px;
    font-weight: 700;
    color: #0072DB;
}
.header1_1{
    font-size: 20px;
    font-weight: 400;
    color: #FF9900;
}
.h2{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.imgBlueLine{
text-align: center;
padding-bottom: 20px;
}
.MapOfUA{
    text-align: center;
    padding-bottom: 20px;
}
.button{
    text-align: center;
    width: 485px;
    height: 78px;
    border: 1px solid #2A61F0;
    background-color: #2A61F0;
    border-radius: 50px;
}
.GO{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 54px;
    text-decoration: none;
}
.div6{
    width: 499px;
    height: 81px;
    margin-left: 40%;
}
.div7{
    text-align: center;
    margin-top: 20px;
    width: 1440px;
    height: 233px;
    background: url(../image/Rectangle\ 7.png);
}
.strong{
    font-size: 48px;
    font-weight: 400px;
    font-family: Marcelus, sans-serif;
    color: #3E45E8;
    text-transform: uppercase;
}
.uk{
    font-size: 48px;
    font-weight: 400px;
    font-family: Marcelus, sans-serif;
    color: #DFE31E;
    text-transform: uppercase;
}
.mail{
    font-size: 36px;
    font-weight: 400;
    color: #A89D9D;
    font-family: Marcellus, sans-serif;
    text-transform: uppercase;
}
a:link,a:visited{ text-decoration: none;

}
