@keyframes gallery-right{
    from{
        transform: translateX(100vh);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes gallery-left{
    from{
        transform: translateX(-100vh);
    }
    to{
        transform: translateX(0);
    }
}