@import url(./animation.css);
body{
    width: 100%;
    margin:0;
    background-color: #E5E5E5;
}
header{
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    height: 10vh;
    align-items: center;
    justify-content:space-between;
}
header a{
    align-self: stretch;
}
.logo{
    background-color:#FFFBFB;
    height: 10vh;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.ListMenu {
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.Menu_link {
    text-align: center;
    color: #FFFCFC;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.3rem;
    text-decoration: none;
}

.screen1_Gallery,.screen2_Services,.screen3_Team,.screen4_Contact{
    overflow: hidden;
}
.screen1_Gallery{
    height: 90vh;
    width: 95%;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.left_section, .right_section{
    margin-right: 1rem;
    height: 80vh;
    width: 30%;
   
}
.left_section img, .right_section img{
    height: 89%;
    min-width: 60%;
    overflow: hidden;

}
.middle_left_s img, .middle_right_s img{
    height: 100%;
    width: 95%;
}
.middle_right_s{
    transform: translateX(200vh);
    animation: gallery-right 1s linear forwards;
}

.middle_left_s {
    transform: translateX(-100vh);
    animation: gallery-left 1s linear forwards;
}
.left_section{
    animation: gallery-left 2s linear forwards;
    transform: translateX(100vh);
}
.right_section{
    animation: gallery-right 2s linear forwards;
    transform: translateX(-100vh);
}